{% extends 'master.html' %}
{% load static %}

{% block title %}
    <title>About</title>
{% endblock %}

{% block extra_css %}

{% endblock %}

{% block content %}

    <!-- Page Title -->
    <div class="page-title accent-background">
        <div class="container d-lg-flex justify-content-between align-items-center">
            <h1 class="mb-2 mb-lg-0">Who Are We?</h1>
            <nav class="breadcrumbs">
                <ol>
                    <li><a href="{% url 'home' %}">Home</a></li>
                    <li class="current">About</li>
                </ol>
            </nav>
        </div>
    </div>
    <!-- End Page Title -->


    <!-- About Section -->
    <section id="about" class="about section">

        <div class="container">

            <div class="row position-relative">

                <div class="col-lg-7 about-img" data-aos="zoom-out" data-aos-delay="200"><img
                        src="{% static 'img/about_two.png' %}"></div>

                <div class="col-lg-7" data-aos="fade-up" data-aos-delay="100">
                    <div class="our-story">
                        <h4>Established in 1970</h4>
                        <h3>Our Story</h3>
                        <p>St. Andrews Cathedral, Thika, is a prominent Anglican church serving the community of Thika
                            and its surrounding areas. As part of the Anglican Church of Kenya, it plays a vital role in
                            spiritual guidance, community outreach, and social development.</p>
                        <ul>
                            <li><i class="bi bi-check-circle"></i> <span>Regular Worship Services: Offering various services throughout the week, including Sunday services, catering to different preferences and age groups.</span>
                            </li>
                            <li><i class="bi bi-check-circle"></i> <span>Community Engagement:  Active participation in local initiatives, supporting the less fortunate, and promoting social justice.</span>
                            </li>
                            <li><i class="bi bi-check-circle"></i> <span>Christian Education: Providing programs for spiritual growth, including Bible studies, Sunday school, and youth groups.</span>
                            </li>
                        </ul>
                        <p>The church strives to be a welcoming and inclusive community, fostering fellowship and
                            spiritual growth for all its members. It is a place where individuals and families can
                            connect with God and with each other.</p>

                        <div class="watch-video d-flex align-items-center position-relative">
                            <i class="bi bi-play-circle"></i>
                            <a href="https://www.youtube.com/watch?v=Y7f98aduVJ8" class="glightbox stretched-link">Watch
                                Video</a>
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </section>
    <!-- /About Section -->

    <!-- Team Section -->
    <section id="team" class="team section light-background">

        <!-- Section Title -->
        <div class="container section-title" data-aos="fade-up">
            <h2>Our Clergy</h2>
            <p>Serving With Zeal Is Our Capable Team.</p>
        </div><!-- End Section Title -->

        <div class="container">

            <div class="row gy-4">

                <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
                    <div class="team-member">
                        <div class="member-img">
                            <img src="{% static 'img/team/team-1.jpg' %}" class="img-fluid" alt="">
                            <div class="social">
                                <a href=""><i class="bi bi-twitter-x"></i></a>
                                <a href=""><i class="bi bi-facebook"></i></a>
                                <a href=""><i class="bi bi-instagram"></i></a>
                                <a href=""><i class="bi bi-linkedin"></i></a>
                            </div>
                        </div>
                        <div class="member-info">
                            <h4>Very Rev Brone Brawns</h4>
                            <span>Provost</span>
                        </div>
                    </div>
                </div><!-- End Team Member -->

                <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
                    <div class="team-member">
                        <div class="member-img">
                            <img src="{% static 'img/team/team-2.jpg' %}" class="img-fluid" alt="">
                            <div class="social">
                                <a href=""><i class="bi bi-twitter-x"></i></a>
                                <a href=""><i class="bi bi-facebook"></i></a>
                                <a href=""><i class="bi bi-instagram"></i></a>
                                <a href=""><i class="bi bi-linkedin"></i></a>
                            </div>
                        </div>
                        <div class="member-info">
                            <h4>Rev Sarah Jhonson</h4>
                            <span>Assistant Provost</span>
                        </div>
                    </div>
                </div><!-- End Team Member -->

                <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="300">
                    <div class="team-member">
                        <div class="member-img">
                            <img src="{% static 'img/team/team-3.jpg' %}" class="img-fluid" alt="">
                            <div class="social">
                                <a href=""><i class="bi bi-twitter-x"></i></a>
                                <a href=""><i class="bi bi-facebook"></i></a>
                                <a href=""><i class="bi bi-instagram"></i></a>
                                <a href=""><i class="bi bi-linkedin"></i></a>
                            </div>
                        </div>
                        <div class="member-info">
                            <h4>Rev William Anderson</h4>
                            <span>Pastoral Care</span>
                        </div>
                    </div>
                </div><!-- End Team Member -->

                <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="400">
                    <div class="team-member">
                        <div class="member-img">
                            <img src="{% static 'img/team/team-4.jpg' %}" class="img-fluid" alt="">
                            <div class="social">
                                <a href=""><i class="bi bi-twitter-x"></i></a>
                                <a href=""><i class="bi bi-facebook"></i></a>
                                <a href=""><i class="bi bi-instagram"></i></a>
                                <a href=""><i class="bi bi-linkedin"></i></a>
                            </div>
                        </div>
                        <div class="member-info">
                            <h4>Rev Amanda Jepson</h4>
                            <span>Children' Department Head</span>
                        </div>
                    </div>
                </div><!-- End Team Member -->

            </div>

        </div>

    </section>
    <!-- /Team Section -->

    <!-- Skills Section -->
    <section id="services" class="services section py-5">
        <div class="container">
            <!-- Section Title -->
            <div class="text-center mb-4" data-aos="fade-up">
                <h2 class="font-weight-bold">Our Services</h2>
                <p class="text-muted">Join us in worship and fellowship. Find a service that suits you best.</p>
            </div>

            <div class="row">
                <!-- Kiswahili Service -->
                <div class="col-lg-6 col-md-6 col-12 mb-4" data-aos="fade-up" data-aos-delay="100">
                    <div class="card shadow text-center p-3">
                        <h5 class="font-weight-bold">Kiswahili Service</h5>
                        <p class="text-muted">7:00 AM - 8:00 AM</p>
                    </div>
                </div>

                <!-- Youth Service -->
                <div class="col-lg-6 col-md-6 col-12 mb-4" data-aos="fade-up" data-aos-delay="200">
                    <div class="card shadow text-center p-3">
                        <h5 class="font-weight-bold">Youth Service</h5>
                        <p class="text-muted">8:15 AM - 9:15 AM</p>
                    </div>
                </div>

                <!-- English Service -->
                <div class="col-lg-6 col-md-6 col-12 mb-4" data-aos="fade-up" data-aos-delay="300">
                    <div class="card shadow text-center p-3">
                        <h5 class="font-weight-bold">English/Main Service</h5>
                        <p class="text-muted">9:30 AM - 11:15 AM</p>
                    </div>
                </div>

                <!-- Kikuyu Service -->
                <div class="col-lg-6 col-md-6 col-12 mb-4" data-aos="fade-up" data-aos-delay="400">
                    <div class="card shadow text-center p-3">
                        <h5 class="font-weight-bold">Kikuyu Service</h5>
                        <p class="text-muted">11:30 AM - 1:00 PM</p>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <!-- /Skills Section -->

    <!-- Partners Section -->
    <section id="clients" class="clients section">

        <!-- Section Title -->
        <div class="container section-title" data-aos="fade-up">
            <h2>Partners</h2>
            <p>Our Proud Partners</p>
        </div><!-- End Section Title -->

        <div class="container" data-aos="fade-up" data-aos-delay="100">

            <div class="row g-0 clients-wrap">

                <div class="col-xl-3 col-md-4 client-logo">
                    <img src="{% static 'img/clients/talent_sacco.png' %}" class="img-fluid" alt="">
                </div><!-- End Client Item -->

                <div class="col-xl-3 col-md-4 client-logo">
                    <img src="{% static 'img/clients/namrata.png' %}" class="img-fluid" alt="">
                </div><!-- End Client Item -->

                <div class="col-xl-3 col-md-4 client-logo">
                    <img src="{% static 'img/clients/client-3.png' %}" class="img-fluid" alt="">
                </div><!-- End Client Item -->

                <div class="col-xl-3 col-md-4 client-logo">
                    <img src="{% static 'img/clients/client-4.png' %}" class="img-fluid" alt="">
                </div><!-- End Client Item -->

                <div class="col-xl-3 col-md-4 client-logo">
                    <img src="{% static 'img/clients/client-5.png' %}" class="img-fluid" alt="">
                </div><!-- End Client Item -->

                <div class="col-xl-3 col-md-4 client-logo">
                    <img src="{% static 'img/clients/client-6.png' %}" class="img-fluid" alt="">
                </div><!-- End Client Item -->

                <div class="col-xl-3 col-md-4 client-logo">
                    <img src="{% static 'img/clients/client-7.png' %}" class="img-fluid" alt="">
                </div><!-- End Client Item -->

                <div class="col-xl-3 col-md-4 client-logo">
                    <img src="{% static 'img/clients/client-8.png' %}" class="img-fluid" alt="">
                </div><!-- End Client Item -->

            </div>

        </div>

    </section>
    <!-- /Partners Section -->
{% endblock %}

{% block extra_js %}

{% endblock %}