{% extends 'dashboard_master.html' %}
{% load static %}

{% block title %}
    <title>Profile</title>
{% endblock %}

{% block extra_css %}

{% endblock %}

{% block content %}
    <!-- Info Section -->
    <div class="card shadow mb-4">
        <div class="card-body text-center">
            {% if member.profile_pic %}
                <img src="{{ user.profile_picture.url }}" alt="Profile Picture" class="img-thumbnail rounded-circle"
                     width="150">
            {% else %}
                <img class="img-fluid mx-auto d-block profile"
                     src="{% static 'dashboard_assets/img/undraw_profile.svg' %}" alt="profile_picture" width="150">
            {% endif %}
            <h4 class="mt-2">{{ user.first_name }} {{ user.second_name }}</h4>
            <p>{{ user.email }}</p>
        </div>
    </div>


    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Details</h6>
        </div>
        <div class="card-body">
            <p>Phone: {{ user.phone }}</p>
            <p>Gender: {% if user.gender == "M" %}Male{% elif user.gender == "F" %}Female{% else %}Not
                specified{% endif %}</p>
            <p>Date of Birth: {{ user.dob }}</p>
            <p>Department: {{ user.get_department_display }}</p>
            <p>Role: {{ user.get_role_display }}</p>
            <p>Date Joined: {{ user.date_joined }}</p>
        </div>
    </div>

    <!-- End Info Section -->

{% endblock %}

{% block extra_js %}

{% endblock %}